.main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: 960px;
    margin: 0 auto;
}
section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px !important;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.05);
            box-shadow: 0 0 15px rgba(0,0,0,0.05);
}
section:last-child {
    margin-bottom: 0;
}
.lesson-block-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.lesson-all-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.lesson-block-wrapper ul, .lesson-block-wrapper > ul > li {
    padding: 0;
}
.lesson {
    font-family: 'Helvetica Neue Cyr Roman', sans-serif;
    -webkit-box-flex:  0;
        -ms-flex:  0 0 290px;
            flex:  0 0 290px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 18px 20px 0;
    border-radius: 5px;
    border: 2px solid #ffdb4d;
    color: #383838;
}
.lesson:hover {
    -webkit-box-shadow: 0 0 10px #ffdb4d;
            box-shadow: 0 0 10px #ffdb4d;
}
.lesson:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 290px;
            flex: 0 0 290px;
    margin-bottom: 0;
}
.lesson:nth-child(3n) {
    margin-right: 0;
}
.lesson__title {
    background-color: #ffdb4d;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.lesson__name {
    font-weight: bold;
    font-size: 18px;
    margin: auto 0 auto 10px;
}
.lesson__date {
    width: 40px;
    height: 40px;
    border: 2px dotted #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    line-height: 1;
}
.date {
    visibility: hidden;
}
.lesson__day {
    font-size: 30px;
    font-weight: bold;
}
.lesson__mmYYYY {
    font-size: 12px;
}
.lesson__plan {
    padding: 20px;
    font-size: 14px;
}
.lesson__plan li:last-child { 
    border-bottom: none
}

/* completed lessons */
.lesson-completed {
    opacity: 0.4;
}
.lesson-completed:hover {
    opacity: 1;
}

/* Смена темы */
.dark-theme-change {
    background-color: #0e1621;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.dark-theme-section {
    background-color: #17212b;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.dark-theme-text {
    color: #fffffff3;
}
.dark-theme-lesson {
    border: 2px solid #0e1621;
}
.dark-theme-lesson:hover {
    -webkit-box-shadow: 0 0 10px #0e1621;
            box-shadow: 0 0 10px #0e1621;
}
.dark-theme-lesson__title {
    background-color: #0e1621;
    color: #ffdb4d;
}