/* go to top btn */
.go-to-top {
    position: fixed;
    cursor: pointer;
    display: none;
    bottom: 65px;
    right: 20px;

    width: 35px;
    height: 35px;
    background-color: #2f2f2f;
    border-radius: 5px;
}
.go-to-top:hover {
    background-color: #ffe57b;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
}
.go-to-top div {
    width: 0;
    height: 0;
    margin: auto;
    border: 5px solid transparent;
}
 .go-to-top .go-to-top__arrow {
    border-bottom-color: #fff;
    border-top: 0;
    padding-top: 15px;
}