header {
    display: flex;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
}
.home-logo__link {
    display: block;
    width: 230px;
    height: 25px;
}
.home-logo__link:link {
    cursor: pointer;
}
.home-logo__default {
    height: 25px;
    background: url(/img/logoDefault.svg) no-repeat;
}
.home-logo__dark {
    height: 25px;
    background: url(/img/logoWhite.svg) no-repeat;
}


.change-theme-btn {
    position: absolute;
    right: 0;
}
.change-theme-ico {
    width: 25px;
    height: 25px;
}
.light-theme {
    background: url(/img/light.png) no-repeat;
    background-size: cover;
}
.light-theme:hover {
    background: url(/img/lightHover.png) no-repeat;
    background-size: cover;
}
.dark-theme {
    background: url(/img/dark.png) no-repeat;
    background-size: cover;
}
.dark-theme:hover {
    background: url(/img/darkHover.png) no-repeat;
    background-size: cover;
}