@media (min-width: 320px) and (max-width: 374px) {
    h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    ul {
        padding-inline-start: 0;
        padding: 0 5px;
    }
    header {
        margin-bottom: 20px;
    }
    .main-wrapper {
        width: 300px;
    }
    section {
        padding: 10px !important;
    }
    .lesson-block-wrapper {
        display: block;
    }
    .lesson {
        margin: 0 10px 10px 0;
    }
    .lesson:nth-child(3n) {
        margin-right: 10px;
    }
    .lesson__title {
        padding: 10px;
    }
    .lesson__date {
        height: auto;
        width: auto;
        padding: 5px;
    }
    .lesson__day {
        font-size: 20px;
    }
    .lesson__name {
        font-size: 16px;
    }
    .lesson__plan {
        padding: 15px;
    }
    .lesson-block-wrapper {
        display: flex;
        overflow: hidden;
        overflow-x: scroll;
        white-space: nowrap; 
        padding-bottom: 25px;
    }
    .lesson-all-blocks {
        display: flex;
        flex-wrap: nowrap;
    }
    .lesson {
        white-space: normal;
        vertical-align: top; 
        display: inline-block;
        flex: 0 0 260px;;
        height: 100%;
    }
    .m-b--0 {
        margin-bottom: 10px !important;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
    }
    ul {
        padding-inline-start: 0;
        padding: 0 5px;
    }
    header {
        margin-bottom: 20px;
    }
    .main-wrapper {
        width: 340px;
    }
    section {
        padding: 10px !important;
    }
    .lesson-block-title {
        padding-top: 10px;
    }
    .lesson-block-wrapper {
        display: block;
    }
    .lesson {
        margin: 0 10px 20px 0;
    }
    .lesson:nth-child(3n) {
        margin-right: 10px;
    }
    .lesson__title {
        padding: 10px;
    }
    .lesson__date {
        height: auto;
        padding: 5px;
    }
    .lesson__day {
        font-size: 25px;
    }
    .m-b--0 {
        margin-bottom: 20px !important;
    }
    .lesson-block-wrapper {
        display: flex;
        overflow: hidden;
        overflow-x: scroll;
        white-space: nowrap; 
        padding-bottom: 25px;
    }
    .lesson-all-blocks {
        display: flex;
        flex-wrap: nowrap;
    }
    .lesson {
        white-space: normal;
        vertical-align: top; 
        display: inline-block;
        width: 280px;
        height: 100%;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
    }
    ul {
        padding-inline-start: 0;
        padding: 0 5px;
    }
    header {
        margin-bottom: 20px;
    }
    .main-wrapper {
        width: 730px;
    }
    .lesson-block-wrapper {
        display: flex;
    }
    .lesson-all-blocks {
        display: flex;
        /* flex-wrap: nowrap; */
    }
    .lesson {
        flex:  0 0 330px;
        margin: 0 20px 20px 0;
    }
    .lesson:nth-child(3n) {
        margin-right: 20px;
    }
    .lesson:nth-child(2n) {
        margin-right: 0;
    }
    .lesson:last-child {
        flex: 0 0 330px;
        margin-bottom: 0;
    }
    .lesson__title {
        padding: 10px;
    }
    .lesson__date {
        height: auto;
        width: auto;
        padding: 5px;
    }
    .lesson__day {
        font-size: 20px;
    }
    .lesson__name {
        font-size: 18px;
    }
}