@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url("/css/header.css");
@import url("/css/content.css");
@import url("/css/footer.css");
@import url("/css/modifiers.css");
@import url("/css/mobile.css");

body { 
    background: #f6f5f3; 
    font-family: 'Roboto', sans-serif;
}
body,div,h1,h2,h3,h4,h5,h6,p { padding: 0; margin: 0; }
ul { padding-inline-start: 15px; list-style-type: none; margin: 0 }
li { padding: 5px 0; border-bottom: 1px dotted #ffdb4d }
li:last-child { border-bottom: none}
h1 { margin-bottom: 20px; }